nav
    ul#menu
        button.accordion クラス
        ul.menu_class
            //li.menu_dk
            //    a(href='/class/dk/death_knight.html') デスナイト(Death Knight)
            li.menu_dh
                a(href='/class/dh/demon_hunter.html') デーモンハンター(Demon Hunter)
            //li.menu_dru
            //    a(href='/class/dru/druid.html') ドルイド(Druid)
            //li.menu_hun
            //    a(href='/class/hun/hunter.html') ハンター(Hunter)
            //li.menu_mag
            //    a(href='/class/mag/mage.html') メイジ(Mage)
            //li.menu_mnk
            //    a(href='/class/mnk/monk.html') モンク(Monk)
            //li.menu_pal
            //    a(href='/class/pal/paladin.html') パラディン(Paladin)
            //li.menu_pri
            //    a(href='/class/pri/priest.html') プリースト(Priest)
            //li.menu_rog
            //    a(href='/class/rog/rogue.html') ローグ(Rogue)
            //li.menu_sha
            //    a(href='/class/sha/shaman.html') シャマン(Shaman)
            //li.menu_wlk
            //    a(href='/class/wlk/warlock.html') ウォーロック(Warlock)
            //li.menu_war
            //    a(href='/class/war/warrior.html') ウォリアー(Warrior)
        button.accordion ダンジョン・レイド
        button.accordion 成就
