<ul class="toc_spec">
    <li><a href="#intro">クラス紹介</a></li>
    <li><a href="#spells">スキル情報</a></li>
    <li><a href="#talents">タレント設定</a></li>
    <li><a href="#rotation">スキルローテーション</a></li>
    <li><a href="#stat">スタット優先順位</a></li>
    <li><a href="#enchants">エンチャント・バフ</a></li>
</ul>
