extends ../../templates/_layout.pug

block title
    title Demon Hunter | ひま図鑑

block content
    div.crest_dh
    div.class.wrapper.clearfix
        h1 デーモンハンター
        h2 Demon Hunter
        ul.menu_spec
            li
              a(href='havoc.html') Havoc(DPS)
            li
              a(href='vengeance.html') Vengeance(タンク)
