extends ./templates/_layout.pug

block title
    title ひま図鑑

block content
    div.mainvisual
        h1 ひま図鑑へようこそ！
    div.main.wrapper.clearfix
        h1 ひま図鑑とは？
        p 世界で#1と認められている最高MMORPG「World of Warcraft」は、英語のゲームだから日本語の情報が少ない状態です。ひま図鑑の目標は、米国や欧国のプレイヤーがアクセスできる情報を日本に統一することです。
        p まだまだ全然情報が少ない状態ですが、これからがんばりますのでお楽しみにしてください！
